* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #fff;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-container{
    max-width: 1440px;
    width: 100%;
    padding: 20px;
}
.orange{
    color: #FD853A;
}
/* navbar */
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
}
.nav-container{
    max-width: 1298px;
    width: 100%;
    height: 86px;
    border-radius: 50px;
    background-color: #171717;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.nav-home{
    width: max-content;
    background-color: #FD853A;
    padding: 20px 40px;
    border-radius: 60px;
}
.nav-pages{
    width: max-content;
    padding: 20px 40px;
    border-radius: 60px;
}
.nav-pages:hover{
    background-color: #35312fd2;
}
.nav-proflie-logo{
    width: 307px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-proflie-logo h3{
    font-family: monospace;
    font-size: 26px;
}
.nav-proflie-logo:hover img{
    margin-left: -30px;
}
.nav-nameSec{
    width: 70px;
    display: flex;
    align-items: center;
}
.nav-nameSec .jrcea{
    position: absolute;
    opacity: 100%;
}
.nav-nameSec .abcd{
    position: absolute;
    opacity: 0%;
}
.nav-proflie-logo:hover .jrcea{
    opacity: 0%;
}
.nav-proflie-logo:hover .abcd{
    opacity: 100%;
}
.nav-nameSec span{
    font-size: 12px;
    font-weight: 400;
    color: #9E9E9E;
}
.nav-nameSec h3{
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 17px;
    margin: 5px;
}
.nav-menuBar{
    display: none;
}
/* section 1 */
.section1-container{
    max-width: 1440px;
    width: 100%;
    height: 846px;
    display: flex;
    justify-content: center;
    position: relative;
}
.ellipse{
    width: 811px;
    object-fit: contain;
    position: absolute;
}
.frame-hello h1{
    text-align: center;
    font-size: 95px;
    line-height: 95px;
}
.swing1{
    position: absolute;
    top: -14px;
    left: 504px;
}
.swing2{
    position: absolute;
    top: 233px;
}
.frame-hello button{
    width: 103px;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 38px;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
}
.frame-hello{
    width: 923px;
    height: 266px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}
.frame-center{
    max-width: 1440px;
    width: 100%;
    height: 846px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 0 45px;
}
.frame-image{
    position: absolute;
    max-width: 1440px;
    width: 100%;
    height: 846px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.jenny-image{
    width: 952px;
    object-fit: contain;
    position: absolute
}
.frame-portfolio{
    width: 367px;
    height: 82px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 45px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
}
.frame-portfolio-leftside{
    width: 208px;
    height: 62px;
    background-color: #FD853A;
    border-radius: 60px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame-portfolio-leftside p{
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    line-height: 33px;
}
.frame-portfolio-rightside{
    width: 129px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
}
.frame-experince{
    text-align: end;
}
.frame-experince h2{
    font-size: 47px;
}
.frame-experince h3{
    font-size: 20px;
    font-weight: 200;
    text-align: end;
}
/* section 2 */
.section2-container{
    max-width: 1440px;
    width: 100%;
    height: auto;
    border-radius: 50px;
    padding-bottom: 60px;
    background-image: url('../images/bg\ star.png'),url('../images/sec\ 2\ bg.png');
    background-position: center center, center center; 
    background-size: cover, cover;
    position: relative;
    transition: background-position 2s ease;
    animation: starr 5s ease-in-out;
}
.section2-container:hover{
    animation: star 5s ease-in-out;
}
@keyframes star{
    0% {
        background-position: center center, center center;
    }
    25% {
        background-position: right center, center center;
    }
    50% {
        background-position: left center,center center;
    }
    100%{
        background-position: center center, center center;
    }
}
@keyframes starr{
    0% {
        background-position: center center, center center;
    }
    25% {
        background-position: left center, center center;
    }
    50% {
        background-position: right center,center center;
    }
    100%{
        background-position: center center, center center;
    }
}
.block2-bouble{
    width: 100%;
    height: 887px;
    object-fit: cover;
    border-radius: 50px;
    position: absolute;
}
.myservice-row{
    max-width: 1299px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin: auto;
    padding: 116px 71px;
    position: relative;
}
.myservice-image{
    width: 50%;
}
.myservice-image h1{
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
}
.myservice-content{
    width: 50%;
}
.myservice-content P{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}
.bendCard{
    width: 416px;
    height: 508px;
    mask-image: url('../images/Rectangle\ 6.png');
    mask-repeat: no-repeat;    
}
.block2-cardContainer{
    max-width: 1299px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: auto;
    gap: 12px;
    padding: 6px 25px;
}
.block2-dots{
    display: flex;
    justify-content: center;
    margin-top: 36px;
}
.block2-card{
    width: 416px;
}
.block2-singleCard{
    position: relative;
}
.block2-singleCard p{
    position: absolute;
    top: 45px;
    left: 25px;
    color: #fff;
    font-size: 32px;
    line-height: 41px;
}
.block2-curveCard{
    width: 100%;
    object-fit: contain;
}
.block2-arrow{
    width: 114px;
    height: 114px;
    object-fit: contain;
    position: absolute;
    right: 0;
    bottom: 0;
}
.arrorBtn{
    width: 28%;
    height: 23%;
    background-color: #1D2939;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.arrorBtn img{
    width: 85%;
    object-fit: contain;
}
.arrorBtn:hover{
    background-color: #FD853A;
}
/* block 3 */
.workExperience{
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    line-height: 64px;
    padding: 85px 0px;
    color: #344054;
}
.block3-experienceContent{
    max-width: 1298px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 80px;
}
.block3-experienceContent-grp1{
    width: 40%;
    display: grid;
    gap: 102px;
}
.block3-experienceContent-grp2{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block3-experienceContent-grp3{
    width: 40%;
    display: grid;
    gap: 35px;
}
.block3-experienceContent-grp2 img{
    width: 48px;
    height: 400px;
    object-fit: contain;
}
.block3-experienceContent h1{
    font-size: 40px;
    line-height: 40px;
    color: #344054;
}
.block3-experienceContent p{
    font-size: 24px;
    line-height: 24px;
    color: #98A2B3;

}
.block3-experiencePlaces{
    display: grid;
    gap: 16px;
}
.block3-experienceRoles{
    display: grid;
}
@media (min-width:771px) and (max-width:1024px){
    .nav-home {
        padding: 18px 20px;
    }
    .nav-pages {
        padding: 18px 20px;
    }
    .nav-proflie-logo {
        width: 170px;
    }
    /* block 1 */
    .section1-container{
        height: 710px;
        overflow: hidden;
    }
    .frame-hello {
        width: 100%;
        min-width: 1024px;
        margin-top: 20px;
    }
    .swing1 {
        top: -14px;
        left: 557px;
    }
    .swing2 {
        top: 225px;
        left: 173px;
    }
    .frame-center{
        height: 775px;
    }
    .frame-hello h1 {
        font-size: 64px;
        line-height: 71px;
    }
    .frame-image{
        height: 710px;
    }
    .ellipse{
        width: 702px;
    }
    .jenny-image{
        width: 772px;
    }
    .frame-intro img{
        width: 24px;
        object-fit: contain;
    }
    .frame-intro p{
        font-size: 12px;
    }
    .frame-experince img{
        width: 100px;
        object-fit: contain;
    }
    .frame-experince h2{
        font-size: 32px;
    }
    .frame-experince h3{
        font-size: 16px;
    }
    .frame-portfolio {
        width: 292px;
        height: 68px;
        bottom: 40px;
    }
    .frame-portfolio-leftside {
        width: 183px;
        height: 50px;
        padding: 10px 20px;
        margin-left: 5px;
    }
    .frame-portfolio-leftside p {
        font-size: 20px;
    }
    .frame-portfolio-rightside {
        font-size: 20px;
    }
    /* block 2 */
    .section2-container{
        border-radius: 25px;
    }
    .myservice-image h1 {
        font-size: 33px;
    }
    .myservice-content P {
        font-size: 12px;
        line-height: 18px;
    }
    .block2-bouble {
        height: 730px;
    }
    .arrorBtn {
        width: 27%;
        height: 24%;
    }
    .block2-singleCard p {
        top: 22px;
        font-size: 24px;
    }
}
@media (min-width:436px) and (max-width:770px){
    nav{
        margin-top: 20px;
    }
    .nav-container{
        height: 60px;
    }
    .nav-home{
        display: none;
    }
    .nav-pages{
        display: none;
    }
    .nav-nameSec{
        display: none;
    }
    .nav-proflie-logo{
        justify-content: start;
    }
    .nav-menuBar{
        display: block;
    }
    .nav-menuBar img{
        width: 45px;
        object-fit: contain;
    }
    /* block 1 */
    .section1-container{
        height: 665px;
        overflow: hidden;
    }
    .frame-hello{
        margin-top: 33px;
        min-width: 770px;
        height: 204px;
    }
    .frame-hello button {
        width: 80px;
        height: 33px;
        font-size: 16px;
    }
    .swing1 {
        position: absolute;
        top: -4px;
        left: 420px;
        width: 25px;
    }
    .frame-hello h1 {
        font-size: 40px;
        line-height: 57px;
    }
    .swing2 {
        top: 163px;
        left: 176px;
        width: 50px;
    }
    .frame-center{
        height: 616px;
    }
    .frame-intro img{
        width: 25px;
    }
    .frame-experince h2 {
        font-size: 26px;
    }
    .frame-experince h3 {
        font-size: 14px;
        font-weight: 400;
    }
    .frame-intro p{
        font-size: 12px;
    }
    .frame-experince img{
        width: 100px;
    }
    .frame-image{
        height: 665px;
    }
    .jenny-image {
        width: 100%;
    }
    .ellipse {
        width: 87%;
    }
    .frame-portfolio {
        width: 37%;
        height: 62px;
    }
    .frame-portfolio-leftside {
        width: 45%;
        height: 49px;
    }
    .frame-portfolio-leftside p {
        font-size: 14px;
    }
    .frame-portfolio-leftside img{
        width: 20px;
        object-fit: contain;
    }
    .frame-portfolio-rightside {
        width: 50%;
        font-size: 16px;
    }
    /* block2 */
    .section2-container{
        border-radius: 25px;
    }
    .myservice-row{
        padding: 58px 35px;
    }
    .myservice-image h1 {
        font-size: 34px;
    }
    .myservice-content P {
        font-size: 12px;
        line-height: 16px;
    }
    .block2-dots img{
        width: 100px;
    }
    /* block3  */
    .workExperience {
        text-align: center;
        font-size: 43px;
        font-weight: 500;
        line-height: 64px;
        padding: 60px 0px;
        color: #344054;
    }
    .block3-experienceContent h1 {
        font-size: 27px;
    }
    .block3-experienceContent p {
        font-size: 12px;
        line-height: 16px;
    }
    .block3-experienceContent-grp2 img {
        width: 35px;
    }
    .block2-singleCard p {
        top: 0px;
        left: 12px;
        font-size: 15px;
    }
}
@media (max-width:435px){
    nav{
        margin-top: 10px;
    }
    .nav-container{
        height: 60px;
    }
    .nav-home{
        display: none;
    }
    .nav-pages{
        display: none;
    }
    .nav-nameSec{
        display: none;
    }
    .nav-proflie-logo{
        justify-content: start;
    }
    .nav-menuBar{
        display: block;
    }
    .nav-menuBar img{
        width: 45px;
        object-fit: contain;
    }
    /* block1  */
    .section1-container{
        height: 341px;
        overflow: hidden;
    }
    .frame-hello{
        margin-top: 33px;
        min-width: 770px;
        height: 132px;
    }
    .frame-hello button {
        width: 80px;
        height: 33px;
        font-size: 16px;
    }
    .swing1 {
        position: absolute;
        top: -11px;
        left: 420px;
        width: 25px;
    }
    .frame-hello h1 {
        font-size: 23px;
        line-height: 33px;
    }
    .swing2 {
        top: 109px;
        left: 261px;
        width: 29px;
    }
    .frame-center{
        height: 424px;
        padding: 0 15px;
        z-index: 3;
    }
    .frame-intro img{
        width: 15px;
    }
    .frame-experince h2 {
        font-size: 20px;
    }
    .frame-experince h3 {
        font-size: 12px;
        font-weight: 400;
    }
    .frame-intro p{
        font-size: 8px;
        text-shadow: 0px 0px 1px #ffffffe3;
    }
    .frame-experince img{
        width: 80px;
    }
    .frame-image{
        height: 342px;
    }
    .jenny-image {
        width: 321px;
    }
    .ellipse {
        width: 277px;
    }
    .frame-portfolio {
        width: 137px;
        height: 37px;
        bottom: 10px;
        border: 1px solid white;
    }
    .frame-portfolio-leftside {
        width: 47%;
        height: 26px;
        margin-left: auto;
        margin-right: auto;
    }
    .frame-portfolio-leftside p {
        font-size: 10px;
    }
    .frame-portfolio-leftside img{
        width: 20px;
        object-fit: contain;
    }
    .frame-portfolio-rightside {
        width: 50%;
        font-size: 12px;
    }
    /* block 2 */
    .section2-container{
        border-radius: 15px;
    }
    .myservice-row{
        padding: 45px 15px;
        flex-direction: column;
    }
    .myservice-image {
        width: 100%;
    }
    .myservice-image h1 {
        font-size: 34px;
        text-shadow: -1px 2px 3px #100000;
    }
    .myservice-content {
        width: 100%;
    }
    .myservice-content P {
        font-size: 12px;
        line-height: 16px;
    }
    .block2-dots {
        margin-top: 15px;
    }
    .block2-singleCard p {
        top: -6px;
        left: 10px;
        font-size: 9px;
    }
    .block2-dots img{
        width: 50px;
    }
    /* block 3 */
    .workExperience {
        font-size: 30px;
        padding: 30px 0px;
    }
    .block3-experienceContent{
        flex-direction: column;
        padding-bottom: 10px;
        gap: 8px;
    }
    .block3-experienceContent-grp1 {
        width: 100%;
        gap: 8px;
    }
    .block3-experienceContent h1 {
        font-size: 18px;
    }
    .block3-experienceContent-grp2{
        display: none;
    }
    .block3-experienceContent-grp3 {
        width: 100%;
        gap: 8px;
    }
    .block3-experienceContent p {
        font-size: 12px;
        line-height: 14px;
    }
    .block3-experiencePlaces {
        gap: 0px;
    }
}